/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
  box-sizing: border-box;   
}

html {
  font-size: 62.5%;
  background: linear-gradient(to bottom, #f2f2f2 0%, #e6e6e6 100%);
}

a{
  text-decoration: none;
  color: inherit;
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-grey{
  background: rgb(165, 165, 165)
}

.back-yellow{
  background: rgb(247, 247, 44);
}

.back-blue{
  background: rgb(61, 154, 248);
}

.back-green{
  background: rgb(79, 170, 43);
}

.back-orange{
  background: rgb(216, 159, 35);
}

/* header */
header{
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  

}

header h1{
  font-family: 'Limelight', cursive;
  font-size: 3.3rem;
  color: #0040ff;
  text-shadow: 1px 1px 2px yellow, 1px 1px 3px black;
}

.ph-num{
  font-size: 2.6rem;
  
}

.ph-num a{
  text-decoration:none;
  color: black;
  cursor: pointer;
}

.top-nav{
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #0040ff 25%, #4d79ff 100%);
}

nav ul{
  display: flex;
  justify-content: center;
  align-items: center;

}

nav li{
  width: 150px;
  text-align: center;
  font-size: 1.4rem;
  color: #ffff00;
  text-shadow: 1px 1px 2px black;
}

nav li:hover{
  font-weight: bolder;
  text-decoration: underline;
}

.menu-btn{
  display: none;
}

.small-nav-1{
  display: none;
}

.small-nav-an{
  animation-name: nav-bar;
  animation-duration: 2.5s;
}

/* home */

section{
  padding: 20px;
}

.home-main-section{
  display: flex;
}

.tag-box{
  width: 40%;
  height: 370px;
  border: 4px outset #4d79ff;
  background: linear-gradient(to top, #ffff00 0%, #ffffcc 100%);
  text-align: center;
  padding: 70px;
 
}

.tag-box h2{
  font-size: 4rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color:#0040ff ;
  text-shadow: 1px 1px 2px #4d79ff;
}

.tag-line-2{
  margin-top: 40px;
}

.tag-box p{
  font-size: 2rem;
  margin: 3px;
  color: black;
  text-shadow: 1px 1px 1px white;
}

.pic-real-box{
  width: 60%;
  height: 370px;
  border: 1px solid black; 
  background: #4d79ff;
}

.pic-box{
  width: 100%;
  height: 85%;
  overflow: hidden;
  
}

.pic-box img{
  width: 100%;

}

.pic-descript{
  font-size: 1.2rem;
  margin: 10px 10px;
}

.pic-an{
  animation-name: pic-real;
  animation-duration: 4s;
}

/* home - electro */

.electro-box{
  margin: 20px 15px 15px 15px;
  border: 4px solid #0040ff;
  min-height: 500px;
  padding: 10px;
  border-radius: 25px;
}


.new-title-box{
  position: relative;
  text-align: center;
  bottom: 30px;
  font-family: 'Luckiest Guy', cursive;
  font-size: 5rem;
  width: 160px;
  margin: 0px auto;
  background: #f2f2f2;
  border-radius: 20px;
}

.new-text{
  animation:blinking 2s infinite;
}

.electro-title{
  text-align: center;
  font-size: 3rem;
  
}

.electro-tagline{
  font-size: 1.6rem;
  text-align: center;
}

.electro-tagline div{
  margin-top: 15px;
}

.electro-bubble-box{
  width: 100%;
  min-height: 600px;
  /* border: 1px solid black; */
  display: flex;
}

.electro-box-half{
  width: 50%;
  /* border: 1px solid black; */
}

.static_girl{
  width: 400px;
  height:400px;
  border-radius: 50%;
}

.info-bubble{
  min-height: 200px;
  /* border: 1px solid black; */
  margin: 20px 0px;
  position: relative;
}

.info-bubble2{
  min-height: 300px;
  /* border: 1px solid black; */
  margin: 20px 0px;
  position: relative;
}

.buble-pos{
  right: 280px
}

.buble-pos2{
  right: 80px;
}

.buble-pos4{
  right: 20px;
}

.buble-pos3{
  right: 400px;
  bottom: 40px;
}

.bubble-outer{
  min-width: 200px;
  height: 200px;
  border: 2px solid black;
  border-radius: 50%;
  box-shadow: 2px 1px 3px #0040ff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  text-align: center;
}

.bubble-outer p{
  width: 150px;
}

.bubble-outer-last{
  min-width: 300px;
  height: 300px;
  border: 2px solid black;
  border-radius: 50%;
  box-shadow: 2px 1px 3px #0040ff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.4rem;
  text-align: center;
}

.bubble-outer-last p{
  width: 200px;
  margin-bottom: 20px;
}

.bubble-outer-last a:hover{
  text-decoration: underline;
  font-weight: bolder;
}


.bubble-3{
  margin-left: 80px;
}

.info-bubble-flex{
  display: flex;
}

.extra-info{
  font-size: 1.4rem;
  margin-left: 50px;
  margin-top: 50px;
  width: 250px;
}

.hb-heading-box{
  display: flex;
  justify-content: center;
  align-items: center;
}

.hb-heading{
  border-bottom: 1px solid darkgrey;
  width: 500px;

}

.hb-heading h3{
  font-size: 4rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color:#0040ff ;
  text-shadow: 1px 1px 2px #4d79ff;
  text-align: center;
  
}

.bottom-box{
  display: flex;
  min-height: 300px;
  padding: 10px
}

.bottom-section{
  width: 33%;
  border: 1px solid black;
}

/* footer */
footer{
  background: linear-gradient(to right, #0040ff 25%, #4d79ff 100%);
  padding: 20px;
  
}

.copyright{
  margin-top: 35px;
  text-align: center;
  font-size: 1.2rem;
  color: white
}

.noaa{
  margin-top: 15px;
  text-align: center;
  font-size: 1.4rem;
  color: white
}




/* display */
.disNone{
  display: none;
}

.disBlock{
  display: block;
}

/* Special break point for tag box and pic real */
@media (max-width: 900px){
  .home-main-section{
    flex-direction: column;
  }

  .tag-box, .pic-real-box{
    width: 100%;
  }

  .tag-box{
    height: 300px;
  }

  .electro-bubble-box{
    /* display: block; */
    flex-direction: column;
    padding-top: 20px;
  }
  .info-bubble, .info-bubble2{
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .electro-box-half{
    width: 100%;
    
  }

  .info-bubble-flex{
    display: block;
  }

  .bubble-3{
    margin-left: 0px;
  }

  .extra-info{
    font-size: 1.4rem;
    margin-left: 0px;
    margin-top: 10px;
    width: 200px;
  }
}

@media (max-width: 500px){
  .pic-real-box{
    height: 300px;
  }
}

/* tablet styles */
@media (max-width: 768px){
  /* header */
  header{
    display: block;
    text-align: center;
  }
  .main-nav{
    display: none;
  }
  .top-nav{
    justify-content:flex-end;
  }

  .menu-btn{
    display: block;
    margin-right: 20px;;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .small-nav-1{
    position: absolute;
    border-top: 1px solid black;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    background: linear-gradient(to right,rgba(0, 64, 225, 0.8) 25%, rgba(77, 121, 255, 0.8) 100%);
    overflow: hidden;
    
  }

  .small-nav-1 ul{
    margin-top: 25px;
    
  }

  .small-nav-1 li{
    height: 40px;
    color: #ffff00;
    text-shadow: 1px 1px 2px black;
  }

  .small-nav-1 li:hover{
    font-weight: bolder;
    text-decoration: underline;
  }

  /* home */

  .bottom-box{
    flex-direction: column;
  }

  .bottom-section{
    width: 100%;
    min-height: 300px;
  }



  /* footer */
  footer li{
    font-size: 1.2rem;
  }

 

}

/* cell phone styles */
@media (max-width: 400px){
  /* Header */
  header{
    display: block;
    text-align: center;
  }

  header h1{
    font-size: 3rem;
  }

  .ph-num{
    font-size: 2.2rem; 
  }

  /* home */

  .tag-box h2{
    font-size: 3rem;
  }

  .tag-box p{
    font-size: 1.5rem
  }

  .pic-real-box{
    height: 230px;
  }

  .pic-descript{
    margin-top: 0px
  }

  /* footer */
  footer li{
    font-size: 1rem;
  }
}

@keyframes nav-bar{
  from{height: 0px; font-size: 0rem}
  to{height: 226px; font-size: 1.5rem}
}

@keyframes pic-real{
  from{opacity: 0.5;}
  to{opacity: 1;}
}

@keyframes blinking{
  0%{     color: red; text-shadow: 2px 2px 3px black;   }
  49%{    color: red;text-shadow: 4px 4px 3px black;}
  60%{    color: transparent; text-shadow: none;}
  99%{    color:transparent; text-shadow: none; }
  100%{   color: red; text-shadow: 2px 2px 3px black;   }
}