.services{
    text-align: center;
    margin-top: 10px;
    h1{
        font-size: 3.5rem;
        color: $blue;
    }
}

.video-card{
    padding: 10px;
    
}

.service-window{
    display: flex;
}